

.recommended-friends{
    margin-top: 25px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);

}

.recommended-friends__title{
    font-size: 14px;
    color: var(--gray-color);
}

.recommended-friends span{
    display: block;
    margin: 100px 0px;
    padding: 25px 0px;
    text-align: center;
    font-size: 18px;
    color: var(--gray-color);


}


.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
    margin-top: 20px;
}

.open-chat__header span {
    opacity: 0.8;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-counts {
opacity: 0.3;
font-size: 14px;
}
.open-post__members .devider {
    width: 1px;
    height: 10px;
    background-color: rgba(0,0,0,0.2);
    margin: 0 5px;
}

.open-post__member-status{
    color: #ffb0e0;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__photo {
    position: relative;
}

.open-post__heart-count{
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 5px;
}

.open-post__heart-count span{
margin-left: 3px;
}

.devider {
    margin: 5px, 10px;
    height: 0px;
    width: 100%;
    border-bottom: var(--main-border);
}

@keyframes jumpIconHeart{
    0%{
        transform: none;
        color: white;
    }
    50%{
        transform: scale(1.2);
        color: tomato;
    }
    100%{
        transform: none;
        color: white;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: jumpIconHeart .5s linear infinite;
}