

.small-title {
    display: block;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 20px 0px ;
    align-items: flex-start;
}

.more-suggestion{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 25px 0px;
}
.more-suggestion__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.more-suggestion__icon i {
    display: flex;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: rgb(253, 229, 10);
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}

.more-suggestion__icon span {
 margin-top: 15px; 

}
