.badge {
    display: block;
    background-color: tomato;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    color: white;
    font-weight: 600;
}

.badge--sm {
    display: block;
    background-color: tomato;
    width: 7px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: -35px;
    bottom: -25px;
}