.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:  15px 50px;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__btn{

}

.nav__link {
    color: rgb(129, 126, 126);
    position: relative;
}


.nav__notification {
    display: block;
    background-color: tomato;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 17px;
    bottom: 15px;
}

.nav__notification2 {
    display: block;
    background-color: tomato;
    width: 7px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 35px;
    bottom: 25px;
}