.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:  15px 50px;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__btn{

}

.nav__link {
    color: rgb(129, 126, 126);
    position: relative;
}


.nav__notification {
    position: absolute;
    left: 17px;
    bottom: 15px;
}

.nav__notification2 {

    position: absolute;
    left: 35px;
    bottom: 25px;
}