.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horisontal-space);
    padding-top: 40px;
    opacity: 0.9;
    margin-bottom: 15px;
}

.screen-header__title {

    font-size: 32px;
    font-weight: 600;
    
}

.screen-header__icons span {
    padding-left: 20px;
}

