.user-component{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.user-component__column:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle{
    margin-top: 8px;
    color :rgba(0,0,0,0.5);
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-right: 20px;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
    margin-right: 20px;
 
}

.user-component__title--not-bold {
 font-weight: 400;
}



.user-component__column:last-child {
    color:rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time {
margin-bottom: 10px;
display: block;
}

.fa-exclamation-circle {
 color: rgba(255,0,0,0.6);
 margin-left: 3px;
}

.fa-comment-alt{
    color: rgba(0,0,0,0.8);
    margin-bottom: 15px;
}